* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    /* background-color: white;
    color: #333; */
    background-color: #333;
    color: whitesmoke;
    padding: 10px;
}

.HTML_lesson_banner {
    width: 100%;
    padding: 10px 0;
    font-size: 2rem;
    text-align: center;
    margin: 0px 0 0px 0;
    margin: 0 auto;
    background-color: rgb(43, 173, 199);
    border: 3px solid black;
}



/* .h1_HTML_lesson div {
    font-size: inherit;
} */

header {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding-top: 2%;
}

/* header h1 {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding-top: 2%;
    text-align: center;
} */

main {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding-top: 5%;
}

footer {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding-top: 1rem;
    text-align: center;
}

hr {
    margin: 10px 0px;
    border: none;
    height: 2px;
    background-color: lightgray;
}

h1 {
    color: red;
    padding: 0.2rem 0rem;
}

h2 {
    color: lightblue;
    padding: 0.2rem 0rem;
}

h3 {
    color: lightcoral;
    padding: 0.2rem 0rem;
}


p {
    padding: 0.2rem 0rem;
}


a {
    color: lightblue;
}

a:visited {
    color: limegreen;
}

a:hover,
a:focus {
    color: red;
}

a:active {
    color: orange;
}

table,
tr,
th,
td,
caption {
    border: 2px solid lightblue;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}


table,
th {
    text-align: center;
}

.tableCaption {
    font-weight: bolder;
    color: red;
}


.html5img {
    width: 200px;
    height: 200px;
}

.hrcancunimg {
    width: 512px;
    height: 384px;
    margin: 20px 0px 20px 0px;
    border: 3px solid lightblue;
}

.coconutimg {
    width: 468px;
    height: 487px;
    margin: 20px 0px 20px 0px;
    border: 3px solid lightblue;
}

.caption {
    color: hotpink;
    font-style: italic;
    font-size: 1.2rem;
    text-align: left;
}

ol {
    list-style-type: upper-roman;
    margin-left: 20px;
    text-align: left;
}

ol li::marker {
    color: red;
    /* Change marker color */
    font-size: 1.2em;
    /* Make marker bigger */
    /* content: "🔥 "; */
    /* Custom emoji marker */
}

ul {
    list-style-type: circle;
    margin-left: 20px;
}

ul li::marker {
    color: rgb(208, 255, 0)
}

dl {
    margin-left: 20px;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-left: 10px;
    padding-left: 5px;
}