* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

.h1_HTML_lesson_01 {
    width: 90%;
    padding: 10px 0;
    font-size: 2rem;
    text-align: center;
    /* margin: 0px 0 0px 0; */
    margin: 0 auto;
    background-color: rgb(43, 173, 199);
    border: 3px solid black;
    /* border: 1px solid black; */
}

.h1_HTML_lesson_01 div {
    font-size: inherit;
}

main {
    width: 80%;
    /* margin: 0 auto; */
    /* text-align: center; */
    padding-top: 5%;
}

h1 {
    color: red;
    padding: 0.5rem;
}

h2 {
    color: lightblue;
    padding: 10px;
}

h3 {
    color: lightcoral;
    padding: 10px 0px;
    ;
}

/* p {
    padding: 0.5rem 0rem;
} */